In [36]:
import pandas as pd
import plotly as plt
import i

In [27]:
%pwd

'/home/losandtok/PycharmProjects/MakroParser'

In [11]:
df = pd.read_csv('core_system/GDP.csv')

In [14]:
df.tail(5)

,Unnamed: 0,Aruba,Afghanistan,Angola,Albania,Andorra,United Arab Emirates,Argentina,Armenia,American Samoa,...,British Virgin Islands,Virgin Islands (U.S.),Vietnam,Vanuatu,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
55,1966,NaN,NaN,NaN,NaN,NaN,NaN,1.805568e+11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.298642e+10,4.725699e+09,5.224658e+09
56,1965,NaN,NaN,NaN,NaN,NaN,NaN,1.817559e+11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.903472e+10,5.004463e+09,5.146274e+09
57,1964,NaN,NaN,NaN,NaN,NaN,NaN,1.643817e+11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.389783e+10,4.290246e+09,4.905391e+09
58,1963,NaN,NaN,NaN,NaN,NaN,NaN,1.492611e+11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.772663e+10,3.823270e+09,4.960260e+09
59,1962,NaN,NaN,NaN,NaN,NaN,NaN,1.576283e+11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.238889e+10,3.702122e+09,4.668729e+09